<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Acceso CRUD prueba</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex align-items-center min-vh-100">
                    <div class="w-100 d-block my-5">

                        <div class="container body-content">
                            @RenderBody()
                            <hr />
                            <footer>
                                <p>&copy; @DateTime.Now.Year - VenadoJr</p>
                            </footer>
                        </div>

                        @Scripts.Render("~/bundles/jquery")
                        @Scripts.Render("~/bundles/bootstrap")
                        @RenderSection("scripts", required: false)




                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>