@model VenadoProject.Models.ViewModels.colaboradores

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>colaboradores</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre_colaborador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_colaborador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellido_colaborador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellido_colaborador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direccion_colaborador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion_colaborador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono_colaborador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono_colaborador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantidad_hijos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad_hijos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.puesto_colaborador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.puesto_colaborador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.salario_mensual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.salario_mensual)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.departamento.nombre_departamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.departamento.nombre_departamento)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.dpi_colaborador }) |
    @Html.ActionLink("Back to List", "Index")
</p>
